* {
    /* font-family: monospace; */
    box-sizing: border-box;
}

button{
    cursor: pointer;
    color:rgb(0, 0, 0);
}



body > div, p, h1{
    margin: auto;
    padding: 5px 5%;
    color:#1B2C3B;
    background-color:#9DB9D2;
    width: 50%;
    /* padding: 1.3em; */

}

body > h1, p {
    background-color:#4D7EA8;
}

p {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.539);
}

h1 {
    font-size: 1.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


div .completed{
color:#6592B8;
text-decoration-line: line-through;
}

div > ul {
    margin: auto;
    
}


.listWindow{
    background-color: #9DB9D2;
    min-height: 10vh;
}

.trashcan {
    color:rgb(255, 81, 0);
    text-decoration: none;
    display: inline-block;
}