* {
    /* font-family:  */
    box-sizing: border-box;
}

.trashcan {
    color:rgb(255, 81, 0);
    text-decoration: none;
    display: inline-block;
}

.container1{
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 300px;
}